@import url('https://fonts.googlepis.com/css2?family=open+sans:wght@300;400;500:600;700&display=swap');/*es un enlace a una hoja de estilos alojada en Google Fonts,*/

*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: "Open sans", sans-serif;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000; /**/
    backdrop-filter: blur(20px);
}
header .logo
{
    position: relative;
    color: #97974f; 
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
}
header ul
{
    position: relative;
    display:flex;
    gap:40px;
}
header ul li 
{
     list-style:none;
}
header ul li a
{
text-decoration: none;
color: #aaa; 
font-weight: 500;
font-size: 1.25em;
}
header ul li.active a,
header ul li:hover a
{
    color: #f2bc94;
}
#home
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #143d59;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-berween;
    align-items: center;
    padding: 100px;  
}
#home::before
{
    content:'';
    position: absolute;
    bottom:0;
    right:0;
    width: 50%;
    height: 25%;
    background: #D4ac0d;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

/*liminar fondo de la imagen despues de una pantalla más pequeña */
@media (max-width: 400px) {
    #home::before {
        content: none;
        position: static;
        bottom: auto;
        right: auto;
        width: auto;
        height: auto;
        background: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}


#home .content 
{
    position:relative;
    display:flex;
    flex-direction:column;
    gap: 10px;
    max-width: 650px;
    z-index: 10;
}
#home .content h2
{
    position: relative;
    font-size: 4em;
    color:#f4b414;
}
#home .content p 
{
    position: relative;
    color:#aaa;
    font-size:1.2em;
    line-height:1.6em;
} 
.btn 
{
 position: relative;
 display:inline-block;
 flex-wrap: wrap;
 min-width: 10%;
 font-size:1.25em;
 max-width:200px;
 background:#f49f1c;
 cursor: pointer;
 border: none;
 border-radius: 12px;
 color:#222;
 text-align: center;
 padding:18px 33px;
 font-weight: 50%;
 letter-spacing: 0.05em;
 text-decoration:none;
 margin-top: 10%; 
}



/* hacer cambiar el color del button */
@media(min-width: 400px){
    .btn{
        padding: 150px 105 px;
        background-image: linear-gradient(150deg,#9500ff,#09f,#00ddff );
        cursor: pointer;
        transition: 3s;                
    } 
    .btn:hover{
        background-image: linear-gradient(150deg,#00ddff,#9500ff,#09f);
    }  

}

#home .men
{
    position:absolute;
    bottom: 0;
    right: 100px;
    max-height: 90vh;
   
}

@media (max-width: 400px) {
    #home .men {
        display: none;
    }
}

#services,
#portfolio, 
#contact
{
    position: relative;
    background: #1b2631;
    min-height: 100vh;
    padding: 120px 100px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.secText
{
    position: relative;
    width: 100%;
    display: flex;  
    justify-content:center;
    align-items: center;
    flex-direction:column;
}
.secText h2
{
    font-size:3em;
    color:#ffa781;
}
.secText p
{
    max-width:700px;
    text-align: center;
    color: #aaa;
    font-size:1.1em;
    line-height:1.5em;
}
#services .content
{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin:40px 0;
}
#services .content .servicesBx
{
    background: #1f3a3d;
    padding:50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #1f3a3d; 
}
#services .content .servicesBx:hover
{
    border: 2px solid #30fe6c;
}
#services .content .servicesBx img
{
max-width: 100px; 
filter:invert(1);
opacity: 0.5;
transition: 0.5s; 
}
#services .content .servicesBx:hover img
{
  opacity: 1;
}
#services .content .serviceBx h3
{
    color: #ffff;
    font-weight:500;
    color: #30fe6c
}
.center 
{
    width: 100%;
    text-align: center; 
}
#portfolio
{
    background: #143d59;
    text-align: center;
}
#portfolio .content
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}
#portfolio .content .imgBx
{
    position: relative;
}
#portfolio .content .imgBx img
{
    max-width: 100%; 
}
#contact .content  
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}
#contact .content a  
{
    background: #1f3a3d;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    font-size: 1.2em;
    color: #fff;
    transition: 0.5s;
}
#contact .content a:hover 
{
    background: #79b19edd;
}
#contact .content a ion-icon
{
    color: #68f4f4dd;
    font-size: 1.5em;
    margin-right: 10px;
    transition: 0.5s;
}
#contact .content a:hover,
#contact .content a:hover ion-icon
{
    color: #222;
}
.copyrights
{
    margin-top: 150px;
    position: relative;
    color: #aaaa;
    font-size: 1.2em;
}
.copyrights a
{
    color:#68f4f4dd;
}

/*now, make it responsive */
@media (max-width: 900px){
   header
    {
     padding: 20px 50px;
}
#home
{
    padding: 150px 50px
    flex-direction column;
    padding-bottom: 0; 
}
#home .content h2
{
    font-size:  4em;
}
.btn
{
    max-width: 160px;
    padding: 10px 20px
}
#home .men
{
    position: obsolute;
    height: 50vh;
    right: 0;
}
.sectext h2 
{
    font-size:2em;
    text-align: center;
}
#services,
#portfolio,
#contact
{
    padding: 100px 50px 50px;
}
#services .content
#portfolio .content
#contac .content
{
    grid-template-columns: repeat(2,1fr);
  }
.menuToggle
{
    position: relative;
    width:30px;
    height: 20px;
    display: flex;
    justify-content:center;
    align-items: center; 
    cursor:pointer;
}
.menuToggle::before
{
    content: '';
    position: absolute;
    width:100%;
    height:2px;
    background:#fff;
    transform:translaterY(-10px);
    transition:0.5s;
    box-shadow: 0 10px #fff
}
.menuToggle::after
{
    content: '';
    position: absolute;
    width:100%;
    height:2px;
    background:#fff;
    transform:translaterY(-10px);
    transition:0.5s;
}
header.active.menuToggle::before
{
    transform: translateY(0px) rotate,(45deg);
    box-shadow: 0 0 #fff
}
header.active.menuToggle::after
{
    transform: translateY(0px) rotate,(315deg);
}
header ul 
{
    display:none;
}
header.active ul
{
 position: fixed;
 left: 0;
 top:84px;
 width:100%;
 height: calc(100vh- 84px);
 background:rgba(50,50,50,0.95);
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction:column;
 z-index: 10000;
 gap:20px;
 }
 header.active ul li a
{
    font-size:2em;
  }
}
@media (max-width: 700px)
{
    #home .content h2 
    {
        font-size:3em;
    }
    #home .men {
        height: 30vh;
      }
      #services .content,
      #portfolio .content,
      #contact .content {
        grid-template-columns: repeat(1, 1fr);
      }
      #contact .contect a {
        height: 70px;
      }
}
